In [145]:
import pandas as pd
import numpy as np
import math

In [107]:
df_train = pd.read_csv("train.csv")
df_test = pd.read_csv("test.csv")

In [108]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [109]:
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

Попробуем предсказывать стоимость билета (Fare) и построим регрессию.

В качестве обучающей выборки возьмем номер класса (Pclass), пол (Sex), класс каюты (Cabin) и порт посадки (Embarked)

In [110]:
X_train = df_train[["Pclass", "Sex", "Cabin", "Embarked"]]
X_test = df_test[["Pclass", "Sex", "Cabin", "Embarked"]]

X_train = X_train.fillna("N")
X_test = X_test.fillna("N")

Y_train = df_train.Fare
Y_test = df_test.Fare

In [111]:
X_train.head()

   Pclass     Sex Cabin Embarked
0       3    male     N        S
1       1  female   C85        C
2       3  female     N        S
3       1  female  C123        S
4       3    male     N        S

In [112]:
Y_train.head()

0     7.2500
1    71.2833
2     7.9250
3    53.1000
4     8.0500
Name: Fare, dtype: float64

In [113]:
def replace_cabin(cabin):
    return cabin[0]

In [114]:
X_train.Cabin = X_train.Cabin.apply(replace_cabin)
X_test.Cabin = X_test.Cabin.apply(replace_cabin)

In [115]:
X_train.head()

   Pclass     Sex Cabin Embarked
0       3    male     N        S
1       1  female     C        C
2       3  female     N        S
3       1  female     C        S
4       3    male     N        S

In [116]:
def create_dict(column):
    return dict([(c, i) for i, c in enumerate(column.unique())])

In [117]:
sex_label2id = create_dict(X_train.Sex)
cabin_label2id = create_dict(X_train.Cabin)
embarked_label2id = create_dict(X_train.Embarked)
p_class_label2id = create_dict(X_train.Pclass)

In [118]:
def vectorize_categorical(value, dictionary):
    return np.eye(len(dictionary))[dictionary[value]]

In [119]:
X_train.Sex = X_train.Sex.apply(vectorize_categorical, dictionary=sex_label2id)
X_train.Cabin = X_train.Cabin.apply(vectorize_categorical, dictionary=cabin_label2id)
X_train.Embarked = X_train.Embarked.apply(vectorize_categorical, dictionary=embarked_label2id)
X_train.Pclass = X_train.Pclass.apply(vectorize_categorical, dictionary=p_class_label2id)

In [120]:
X_train.head()

,Pclass,Sex,Cabin,Embarked
0,"[1.0, 0.0, 0.0]","[1.0, 0.0]","[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[1.0, 0.0, 0.0, 0.0]"
1,"[0.0, 1.0, 0.0]","[0.0, 1.0]","[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 1.0, 0.0, 0.0]"
2,"[1.0, 0.0, 0.0]","[0.0, 1.0]","[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[1.0, 0.0, 0.0, 0.0]"
3,"[0.0, 1.0, 0.0]","[0.0, 1.0]","[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[1.0, 0.0, 0.0, 0.0]"
4,"[1.0, 0.0, 0.0]","[1.0, 0.0]","[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[1.0, 0.0, 0.0, 0.0]"

In [325]:
X_test.Sex = X_test.Sex.apply(vectorize_categorical, dictionary=sex_label2id)
X_test.Cabin = X_test.Cabin.apply(vectorize_categorical, dictionary=cabin_label2id)
X_test.Embarked = X_test.Embarked.apply(vectorize_categorical, dictionary=embarked_label2id)
X_test.Pclass = X_test.Pclass.apply(vectorize_categorical, dictionary=p_class_label2id)

### Попробуем имплементировать  линейную регрессию самостоятельно

$f(x) = w_0x_0 + w_1x_1 + w_2x_2 + w_3x_3 + w_4x_4 + w_5x_5 + b$

правда, кажется, признаков-то не 5

Функция для инициализации весов:

In [86]:
def init(n):
    return {"w": np.zeros(n), "b": 0.0}

Предсказываем стоимость билета:

In [264]:
def predict(x, parameters):
    return np.matmul(np.array(x), parameters['w']) + parameters["b"]

In [266]:
# Initialize model parameters
n = len(np.concatenate(X_train.iloc[0]))
print(f"Всего признаков:{n}")
model_parameters = init(n)

# Make prediction for every data sample
X = [np.concatenate(line) for line in X_train.values]
predictions = predict(X, model_parameters)
print(f"Предсказания: {predictions}, всего {len(predictions)}")

Всего признаков:18
Предсказания: [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0.], всего 891

Посчитаем ошибку:

In [184]:
def mse(predictions, targets):
    # Retrieving number of samples in dataset
    samples_num = len(predictions)
    
    # Summing square differences between predicted and expected values
    accumulated_error = 0.0
    for prediction, target in zip(predictions, targets):
        accumulated_error += (prediction - target)**2
        
    # Calculating mean
    mse_error = (1.0 / samples_num) * accumulated_error
    return mse_error

In [185]:
mse_error = mse(predictions, Y_train)
print(f"Mean squared error: {round(mse_error, 2)}, Root mean squared error: {round(math.sqrt(mse_error), 2)}")

Mean squared error: 3503.78, Root mean squared error: 59.19

Вычисляем градиент:

##### Gradient Descent

Функция ошибок MSE

$$ MSE = \frac{1}{2m} \sum^{m}_{i=1} ((w\cdot x + b) - y)^2 $$

Дифференцируем по w_0

$$ \nabla w_0 = \frac{1}{m} \sum^{m}_{i=1} ((w_0\cdot x_0 + b) - y)x_0 $$

Дифференцируем по w_1

$$ \nabla w_1 = \frac{1}{m} \sum^{m}_{i=1} ((w_1\cdot x_1 + b) - y)x_1 $$

...

Дифференцируем по w_n

$$ \nabla w_n = \frac{1}{m} \sum^{m}_{i=1} ((w_n\cdot x_n + b) - y)x_n $$


#### Можно (?) переписать как:

$$ \nabla w = \frac{1}{m} \sum^{m}_{i=1} ((w\cdot x + b) - y)x $$

Дифференцируем по b

$$ \nabla b = \frac{1}{m} \sum^{m}_{i=1} ((w\cdot x + b) - y) $$

In [300]:
def train(predictions, x, y, model_parameters):
    w_grad = (1.0/len(x)) * np.dot((predictions - y), x)
    b_grad = (1.0/len(x)) * np.sum(predictions - y)   
    return w_grad, b_grad

In [301]:
w_step, b_step = train(predictions, X, Y_train, model_parameters)
print(w_step, b_step)

[ -5.72000294 -19.60218679  -3.58635126 -14.39471005 -14.51383094
 -12.23003287  -6.41356313  -1.53467212  -0.04617546  -1.99810773
  -0.61158619  -5.81355169  -0.22470778  -0.03614403 -17.19078481
 -10.68307985  -0.8625005   -0.17217583] -28.90854099523389

##### Update step

In [246]:
def update(current_parameters, weights_step, bias_step, learning_rate):
    new_weights = weights_step * learning_rate
    new_weights = current_parameters['w'] - new_weights
    new_bias = current_parameters['b'] - learning_rate * bias_step
    return {"w": new_weights, "b": new_bias}

In [241]:
update(model_parameters, w_step, b_step, 0.5)

[ -3.76806684 -10.20056818  -2.13346897  -8.26447054  -7.83763345
  -7.38556818  -3.31589736  -0.82651751  -0.03048541  -1.06008474
  -0.3335344   -2.9936986   -0.13639635  -0.01992144  -9.78641908
  -5.65224254  -0.57365561  -0.08978676]

{'w': array([ 3.76806684, 10.20056818,  2.13346897,  8.26447054,  7.83763345,
         7.38556818,  3.31589736,  0.82651751,  0.03048541,  1.06008474,
         0.3335344 ,  2.9936986 ,  0.13639635,  0.01992144,  9.78641908,
         5.65224254,  0.57365561,  0.08978676]), 'b': 16.102103984287318}

### Соберем все вместе:

In [319]:
n_features = len(np.concatenate(X_train.iloc[0]))
model_parameters = init(n_features)
X = [np.concatenate(line) for line in X_train.values]
print(f"Всего признаков:{n_features}, Всего пассажиров: {len(X)}")
lr = 0.005

for iteration in range(1000):
    predictions = predict(X, model_parameters) #предсказываем
    mse_error = mse(predictions, Y_train) #смотрим на ошибку
    if iteration % 100 == 0:
        print(f"Mean squared error: {round(mse_error, 2)}, Root mean squared error: {round(math.sqrt(mse_error), 2)}")
    w_step, b_step = train(predictions, X, Y_train, model_parameters) #вычисляем шаг градиента
    model_parameters = update(model_parameters, w_step, b_step, lr)

Всего признаков:18, Всего пассажиров: 891
Mean squared error: 3503.78, Root mean squared error: 59.19
Mean squared error: 2355.67, Root mean squared error: 48.54
Mean squared error: 2032.4, Root mean squared error: 45.08
Mean squared error: 1841.93, Root mean squared error: 42.92
Mean squared error: 1720.24, Root mean squared error: 41.48
Mean squared error: 1641.46, Root mean squared error: 40.51
Mean squared error: 1589.89, Root mean squared error: 39.87
Mean squared error: 1555.66, Root mean squared error: 39.44
Mean squared error: 1532.51, Root mean squared error: 39.15
Mean squared error: 1516.5, Root mean squared error: 38.94

##### Stochastic Gradient Descent

In [268]:
import random

In [316]:
n_features = len(np.concatenate(X_train.iloc[0]))
model_parameters = init(n_features)
print(model_parameters)
X = [np.concatenate(line) for line in X_train.values]
print(f"Всего признаков:{n_features}, Всего пассажиров: {len(X)}")
lr = 0.0005

for iteration in range(100):
    random_order = list(range(len(X))) #перемешиваем пассажиров
    for random_index in random_order: #то же самое, что рандомно выбираем по одному
        predictions = predict(X[random_index], model_parameters) #предсказываем
        w_step, b_step = train(predictions, 
                               X[random_index], 
                               Y_train[random_index], model_parameters) #вычисляем шаг градиента
        model_parameters = update(model_parameters, w_step, b_step, lr)
    mse_error = mse(predict(X, model_parameters), Y_train) #смотрим на ошибку
    print(f"Mean squared error: {round(mse_error, 2)}, Root mean squared error: {round(math.sqrt(mse_error), 2)}")

{'w': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0.]), 'b': 0.0}
Всего признаков:18, Всего пассажиров: 891
Mean squared error: 3370.81, Root mean squared error: 58.06
Mean squared error: 3253.9, Root mean squared error: 57.04
Mean squared error: 3150.77, Root mean squared error: 56.13
Mean squared error: 3059.45, Root mean squared error: 55.31
Mean squared error: 2978.27, Root mean squared error: 54.57
Mean squared error: 2905.82, Root mean squared error: 53.91
Mean squared error: 2840.88, Root mean squared error: 53.3
Mean squared error: 2782.41, Root mean squared error: 52.75
Mean squared error: 2729.52, Root mean squared error: 52.24
Mean squared error: 2681.46, Root mean squared error: 51.78
Mean squared error: 2637.58, Root mean squared error: 51.36
Mean squared error: 2597.33, Root mean squared error: 50.96
Mean squared error: 2560.24, Root mean squared error: 50.6
Mean squared error: 2525.9, Root mean squared error: 50.26
Mean squared error: 2493.97, Root mean squared error: 49.94
Mean squared error: 2464.15, Root mean squared error: 49.64
Mean squared error: 2436.19, Root mean squared error: 49.36
Mean squared error: 2409.86, Root mean squared error: 49.09
Mean squared error: 2384.99, Root mean squared error: 48.84
Mean squared error: 2361.41, Root mean squared error: 48.59
Mean squared error: 2338.98, Root mean squared error: 48.36
Mean squared error: 2317.59, Root mean squared error: 48.14
Mean squared error: 2297.13, Root mean squared error: 47.93
Mean squared error: 2277.51, Root mean squared error: 47.72
Mean squared error: 2258.67, Root mean squared error: 47.53
Mean squared error: 2240.52, Root mean squared error: 47.33
Mean squared error: 2223.02, Root mean squared error: 47.15
Mean squared error: 2206.11, Root mean squared error: 46.97
Mean squared error: 2189.75, Root mean squared error: 46.79
Mean squared error: 2173.9, Root mean squared error: 46.63
Mean squared error: 2158.53, Root mean squared error: 46.46
Mean squared error: 2143.61, Root mean squared error: 46.3
Mean squared error: 2129.11, Root mean squared error: 46.14
Mean squared error: 2115.01, Root mean squared error: 45.99
Mean squared error: 2101.29, Root mean squared error: 45.84
Mean squared error: 2087.93, Root mean squared error: 45.69
Mean squared error: 2074.91, Root mean squared error: 45.55
Mean squared error: 2062.22, Root mean squared error: 45.41
Mean squared error: 2049.84, Root mean squared error: 45.28
Mean squared error: 2037.77, Root mean squared error: 45.14
Mean squared error: 2025.99, Root mean squared error: 45.01
Mean squared error: 2014.49, Root mean squared error: 44.88
Mean squared error: 2003.26, Root mean squared error: 44.76
Mean squared error: 1992.29, Root mean squared error: 44.64
Mean squared error: 1981.58, Root mean squared error: 44.51
Mean squared error: 1971.11, Root mean squared error: 44.4
Mean squared error: 1960.89, Root mean squared error: 44.28
Mean squared error: 1950.89, Root mean squared error: 44.17
Mean squared error: 1941.12, Root mean squared error: 44.06
Mean squared error: 1931.57, Root mean squared error: 43.95
Mean squared error: 1922.23, Root mean squared error: 43.84
Mean squared error: 1913.11, Root mean squared error: 43.74
Mean squared error: 1904.18, Root mean squared error: 43.64
Mean squared error: 1895.45, Root mean squared error: 43.54
Mean squared error: 1886.92, Root mean squared error: 43.44
Mean squared error: 1878.57, Root mean squared error: 43.34
Mean squared error: 1870.41, Root mean squared error: 43.25
Mean squared error: 1862.43, Root mean squared error: 43.16
Mean squared error: 1854.62, Root mean squared error: 43.07
Mean squared error: 1846.98, Root mean squared error: 42.98
Mean squared error: 1839.5, Root mean squared error: 42.89
Mean squared error: 1832.2, Root mean squared error: 42.8
Mean squared error: 1825.04, Root mean squared error: 42.72
Mean squared error: 1818.05, Root mean squared error: 42.64
Mean squared error: 1811.21, Root mean squared error: 42.56
Mean squared error: 1804.51, Root mean squared error: 42.48
Mean squared error: 1797.96, Root mean squared error: 42.4
Mean squared error: 1791.55, Root mean squared error: 42.33
Mean squared error: 1785.28, Root mean squared error: 42.25
Mean squared error: 1779.14, Root mean squared error: 42.18
Mean squared error: 1773.14, Root mean squared error: 42.11
Mean squared error: 1767.26, Root mean squared error: 42.04
Mean squared error: 1761.51, Root mean squared error: 41.97
Mean squared error: 1755.89, Root mean squared error: 41.9
Mean squared error: 1750.38, Root mean squared error: 41.84
Mean squared error: 1745.0, Root mean squared error: 41.77
Mean squared error: 1739.72, Root mean squared error: 41.71
Mean squared error: 1734.57, Root mean squared error: 41.65
Mean squared error: 1729.52, Root mean squared error: 41.59
Mean squared error: 1724.57, Root mean squared error: 41.53
Mean squared error: 1719.74, Root mean squared error: 41.47
Mean squared error: 1715.0, Root mean squared error: 41.41
Mean squared error: 1710.37, Root mean squared error: 41.36
Mean squared error: 1705.83, Root mean squared error: 41.3
Mean squared error: 1701.4, Root mean squared error: 41.25
Mean squared error: 1697.05, Root mean squared error: 41.2
Mean squared error: 1692.8, Root mean squared error: 41.14
Mean squared error: 1688.63, Root mean squared error: 41.09
Mean squared error: 1684.56, Root mean squared error: 41.04
Mean squared error: 1680.57, Root mean squared error: 40.99
Mean squared error: 1676.66, Root mean squared error: 40.95
Mean squared error: 1672.84, Root mean squared error: 40.9
Mean squared error: 1669.09, Root mean squared error: 40.85
Mean squared error: 1665.43, Root mean squared error: 40.81
Mean squared error: 1661.84, Root mean squared error: 40.77
Mean squared error: 1658.33, Root mean squared error: 40.72
Mean squared error: 1654.89, Root mean squared error: 40.68
Mean squared error: 1651.52, Root mean squared error: 40.64
Mean squared error: 1648.22, Root mean squared error: 40.6
Mean squared error: 1644.99, Root mean squared error: 40.56

##### Mini-batch gradient descent

In [317]:
n_features = len(np.concatenate(X_train.iloc[0]))
model_parameters = init(n_features)
print(model_parameters)
X = [np.concatenate(line) for line in X_train.values]
print(f"Всего признаков:{n_features}, Всего пассажиров: {len(X)}")
lr = 0.0005
batch_size = 4

for iteration in range(100):
    random_order = list(range(len(X))) #перемешиваем пассажиров
    random.shuffle(random_order)
    for i in range(0, len(random_order), batch_size):
        random_indices = random_order[i:i+batch_size]
        X_batch = [X[r] for r in random_indices]
        y_batch = Y_train[random_indices]
        predictions = predict(X_batch, model_parameters) #предсказываем
        mse_error = mse([predictions], [Y_train[random_index]]) #смотрим на ошибку
        w_step, b_step = train(predictions, X_batch, y_batch, model_parameters) #вычисляем шаг градиента
        model_parameters = update(model_parameters, w_step, b_step, lr)
    mse_error = mse(predict(X, model_parameters), Y_train) #смотрим на ошибку
    print(f"Mean squared error: {round(mse_error, 2)}, Root mean squared error: {round(math.sqrt(mse_error), 2)}")

{'w': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0.]), 'b': 0.0}
Всего признаков:18, Всего пассажиров: 891
Mean squared error: 3016.66, Root mean squared error: 54.92
Mean squared error: 2728.15, Root mean squared error: 52.23
Mean squared error: 2541.15, Root mean squared error: 50.41
Mean squared error: 2408.99, Root mean squared error: 49.08
Mean squared error: 2307.03, Root mean squared error: 48.03
Mean squared error: 2222.61, Root mean squared error: 47.14
Mean squared error: 2150.43, Root mean squared error: 46.37
Mean squared error: 2087.57, Root mean squared error: 45.69
Mean squared error: 2031.62, Root mean squared error: 45.07
Mean squared error: 1980.84, Root mean squared error: 44.51
Mean squared error: 1935.73, Root mean squared error: 44.0
Mean squared error: 1894.79, Root mean squared error: 43.53
Mean squared error: 1857.82, Root mean squared error: 43.1
Mean squared error: 1824.32, Root mean squared error: 42.71
Mean squared error: 1794.01, Root mean squared error: 42.36
Mean squared error: 1766.67, Root mean squared error: 42.03
Mean squared error: 1741.83, Root mean squared error: 41.74
Mean squared error: 1719.15, Root mean squared error: 41.46
Mean squared error: 1698.63, Root mean squared error: 41.21
Mean squared error: 1679.77, Root mean squared error: 40.99
Mean squared error: 1662.88, Root mean squared error: 40.78
Mean squared error: 1647.62, Root mean squared error: 40.59
Mean squared error: 1633.61, Root mean squared error: 40.42
Mean squared error: 1620.91, Root mean squared error: 40.26
Mean squared error: 1609.31, Root mean squared error: 40.12
Mean squared error: 1598.76, Root mean squared error: 39.98
Mean squared error: 1589.15, Root mean squared error: 39.86
Mean squared error: 1580.35, Root mean squared error: 39.75
Mean squared error: 1572.3, Root mean squared error: 39.65
Mean squared error: 1564.9, Root mean squared error: 39.56
Mean squared error: 1558.21, Root mean squared error: 39.47
Mean squared error: 1552.11, Root mean squared error: 39.4
Mean squared error: 1546.44, Root mean squared error: 39.32
Mean squared error: 1541.25, Root mean squared error: 39.26
Mean squared error: 1536.51, Root mean squared error: 39.2
Mean squared error: 1532.11, Root mean squared error: 39.14
Mean squared error: 1528.07, Root mean squared error: 39.09
Mean squared error: 1524.35, Root mean squared error: 39.04
Mean squared error: 1520.89, Root mean squared error: 39.0
Mean squared error: 1517.71, Root mean squared error: 38.96
Mean squared error: 1514.74, Root mean squared error: 38.92
Mean squared error: 1512.02, Root mean squared error: 38.88
Mean squared error: 1509.46, Root mean squared error: 38.85
Mean squared error: 1507.06, Root mean squared error: 38.82
Mean squared error: 1504.85, Root mean squared error: 38.79
Mean squared error: 1502.77, Root mean squared error: 38.77
Mean squared error: 1500.86, Root mean squared error: 38.74
Mean squared error: 1499.04, Root mean squared error: 38.72
Mean squared error: 1497.36, Root mean squared error: 38.7
Mean squared error: 1495.76, Root mean squared error: 38.68
Mean squared error: 1494.26, Root mean squared error: 38.66
Mean squared error: 1492.81, Root mean squared error: 38.64
Mean squared error: 1491.47, Root mean squared error: 38.62
Mean squared error: 1490.18, Root mean squared error: 38.6
Mean squared error: 1488.99, Root mean squared error: 38.59
Mean squared error: 1487.85, Root mean squared error: 38.57
Mean squared error: 1486.76, Root mean squared error: 38.56
Mean squared error: 1485.73, Root mean squared error: 38.55
Mean squared error: 1484.73, Root mean squared error: 38.53
Mean squared error: 1483.76, Root mean squared error: 38.52
Mean squared error: 1482.84, Root mean squared error: 38.51
Mean squared error: 1481.95, Root mean squared error: 38.5
Mean squared error: 1481.1, Root mean squared error: 38.49
Mean squared error: 1480.28, Root mean squared error: 38.47
Mean squared error: 1479.49, Root mean squared error: 38.46
Mean squared error: 1478.72, Root mean squared error: 38.45
Mean squared error: 1477.99, Root mean squared error: 38.44
Mean squared error: 1477.27, Root mean squared error: 38.44
Mean squared error: 1476.58, Root mean squared error: 38.43
Mean squared error: 1475.91, Root mean squared error: 38.42
Mean squared error: 1475.26, Root mean squared error: 38.41
Mean squared error: 1474.63, Root mean squared error: 38.4
Mean squared error: 1474.0, Root mean squared error: 38.39
Mean squared error: 1473.38, Root mean squared error: 38.38
Mean squared error: 1472.78, Root mean squared error: 38.38
Mean squared error: 1472.2, Root mean squared error: 38.37
Mean squared error: 1471.65, Root mean squared error: 38.36
Mean squared error: 1471.08, Root mean squared error: 38.35
Mean squared error: 1470.51, Root mean squared error: 38.35
Mean squared error: 1469.98, Root mean squared error: 38.34
Mean squared error: 1469.45, Root mean squared error: 38.33
Mean squared error: 1468.93, Root mean squared error: 38.33
Mean squared error: 1468.41, Root mean squared error: 38.32
Mean squared error: 1467.91, Root mean squared error: 38.31
Mean squared error: 1467.42, Root mean squared error: 38.31
Mean squared error: 1466.93, Root mean squared error: 38.3
Mean squared error: 1466.44, Root mean squared error: 38.29
Mean squared error: 1465.96, Root mean squared error: 38.29
Mean squared error: 1465.5, Root mean squared error: 38.28
Mean squared error: 1465.04, Root mean squared error: 38.28
Mean squared error: 1464.59, Root mean squared error: 38.27
Mean squared error: 1464.15, Root mean squared error: 38.26
Mean squared error: 1463.71, Root mean squared error: 38.26
Mean squared error: 1463.27, Root mean squared error: 38.25
Mean squared error: 1462.84, Root mean squared error: 38.25
Mean squared error: 1462.42, Root mean squared error: 38.24
Mean squared error: 1462.0, Root mean squared error: 38.24
Mean squared error: 1461.59, Root mean squared error: 38.23
Mean squared error: 1461.18, Root mean squared error: 38.23
Mean squared error: 1460.77, Root mean squared error: 38.22

### Построим линейную регрессию

In [334]:
from sklearn.linear_model import LinearRegression

In [335]:
lin_reg = LinearRegression()

In [336]:
lin_reg.fit(X, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [337]:
result = lin_reg.predict([np.concatenate(line) for line in X_test.values])
len(result)

418

In [338]:
print(mse(result, Y_test))

for i,j in zip(result, Y_test):
    print(i, j)

nan
6.0 7.8292
24.0 7.0
10.0 9.6875
11.0 8.6625
24.0 12.2875
11.0 9.225
19.0 7.6292
14.0 29.0
34.0 7.2292
11.0 24.15
11.0 7.8958
66.0 26.0
116.0 82.2667
14.0 26.0
68.0 61.175
38.0 27.7208
10.0 12.35
20.0 7.225
24.0 7.925
34.0 7.225
76.0 59.4
11.0 3.1708
79.0 31.6833
76.0 61.3792
126.0 262.375
11.0 14.5
126.0 61.9792
20.0 7.225
38.0 30.5
20.0 21.6792
14.0 26.0
14.0 31.5
24.0 20.575
24.0 23.45
104.0 57.75
20.0 7.2292
24.0 8.05
24.0 8.6625
11.0 9.5
11.0 56.4958
20.0 13.4167
55.0 26.55
11.0 7.85
27.0 13.0
68.0 52.5542
11.0 7.925
48.0 29.7
6.0 7.75
78.0 76.2917
24.0 15.9
94.0 60.0
24.0 15.0333
27.0 23.0
108.0 263.0
24.0 15.5792
6.0 29.125
11.0 7.8958
12.0 7.65
11.0 16.1
126.0 262.375
11.0 7.8958
14.0 13.5
11.0 7.75
19.0 7.725
113.0 262.375
27.0 21.0
19.0 7.8792
66.0 42.4
104.0 28.5375
108.0 263.0
19.0 7.75
11.0 7.8958
24.0 7.925
64.0 27.7208
117.0 211.5
104.0 211.5
11.0 8.05
108.0 25.7
14.0 13.0
19.0 7.75
20.0 15.2458
94.0 221.7792
66.0 26.0
11.0 7.8958
10.0 10.7083
20.0 14.4542
19.0 7.8792
24.0 8.05
19.0 7.75
14.0 23.0
24.0 13.9
11.0 7.775
116.0 52.0
11.0 8.05
76.0 26.0
11.0 7.7958
108.0 78.85
11.0 7.925
24.0 7.8542
11.0 8.05
117.0 55.4417
14.0 26.0
6.0 7.75
11.0 7.775
34.0 8.5167
11.0 22.525
6.0 7.8208
6.0 7.75
11.0 8.7125
15.0 13.0
24.0 15.0458
19.0 7.7792
61.0 31.6792
19.0 7.2833
108.0 221.7792
20.0 14.4542
20.0 6.4375
26.0 16.7
104.0 75.2417
27.0 26.0
27.0 15.75
6.0 7.75
117.0 57.75
11.0 7.25
6.0 7.75
24.0 16.1
11.0 7.7958
19.0 23.25
14.0 13.0
11.0 8.05
11.0 8.05
104.0 28.5
24.0 25.4667
20.0 6.4375
11.0 7.8958
11.0 7.8542
20.0 7.225
14.0 13.0
24.0 8.05
11.0 46.9
24.0 46.9
79.0 151.55
113.0 262.375
14.0 26.0
66.0 26.55
11.0 18.0
55.0 51.8625
11.0 8.05
66.0 26.55
14.0 26.0
117.0 83.1583
20.0 7.8958
11.0 nan
24.0 12.1833
11.0 31.3875
11.0 7.55
108.0 221.7792
24.0 7.8542
55.0 26.55
24.0 13.775
19.0 7.7333
20.0 15.2458
27.0 13.5
11.0 7.0
14.0 13.0
24.0 22.025
113.0 50.4958
11.0 34.375
89.0 27.7208
24.0 8.9625
11.0 7.55
20.0 7.225
11.0 13.9
20.0 7.2292
11.0 31.3875
27.0 39.0
27.0 36.75
104.0 55.4417
28.0 39.0
78.0 83.1583
14.0 13.0
65.0 83.1583
68.0 53.1
6.0 7.75
126.0 247.5208
14.0 16.0
27.0 21.0
11.0 8.05
24.0 69.55
14.0 13.0
14.0 26.0
66.0 26.0
11.0 14.5
10.0 12.35
14.0 32.5
11.0 7.8542
65.0 134.5
24.0 7.775
14.0 10.5
24.0 8.1125
19.0 15.5
11.0 14.4
104.0 227.525
27.0 26.0
14.0 10.5
76.0 25.7417
19.0 7.75
14.0 10.5
61.0 27.7208
11.0 7.8958
11.0 22.525
11.0 7.05
14.0 73.5
27.0 26.0
24.0 7.775
103.0 42.5
19.0 7.8792
66.0 164.8667
117.0 211.5
11.0 8.05
38.0 13.8583
11.0 8.05
28.0 10.5
11.0 7.7958
89.0 27.4458
34.0 15.2458
11.0 7.7958
19.0 7.75
11.0 15.1
14.0 13.0
14.0 65.0
79.0 26.55
11.0 6.4958
6.0 7.8792
104.0 71.2833
11.0 7.8542
64.0 75.25
20.0 7.225
27.0 13.0
117.0 106.425
89.0 27.7208
27.0 30.0
65.0 134.5
11.0 7.8875
11.0 23.45
55.0 51.8625
27.0 21.0
14.0 32.5
27.0 26.0
34.0 14.4542
27.0 27.75
11.0 7.925
104.0 136.7792
11.0 9.325
11.0 9.5
11.0 7.55
6.0 7.75
11.0 8.05
27.0 13.0
11.0 7.775
11.0 17.4
11.0 7.8542
27.0 23.0
24.0 12.1833
24.0 12.7375
11.0 7.8958
66.0 0.0
11.0 7.55
24.0 8.05
11.0 8.6625
104.0 75.2417
6.0 7.75
117.0 136.7792
19.0 15.5
20.0 7.225
27.0 26.0
14.0 10.5
14.0 26.0
14.0 21.0
14.0 10.5
24.0 8.6625
11.0 13.775
19.0 7.75
34.0 15.2458
24.0 20.2125
11.0 7.25
11.0 7.25
103.0 82.2667
22.0 7.2292
11.0 8.05
66.0 39.6
19.0 6.95
20.0 7.2292
38.0 81.8583
11.0 9.5
11.0 7.8958
38.0 41.5792
20.0 21.6792
66.0 45.5
11.0 7.8542
11.0 7.775
13.0 15.0458
14.0 21.0
11.0 8.6625
19.0 7.75
116.0 26.55
94.0 151.55
11.0 9.35
103.0 93.5
24.0 14.1083
11.0 8.6625
20.0 7.225
11.0 7.575
19.0 7.75
117.0 135.6333
19.0 7.7333
113.0 146.5208
14.0 10.5
11.0 7.8542
14.0 31.5
11.0 7.775
22.0 7.2292
15.0 13.0
66.0 26.55
79.0 211.3375
11.0 7.05
28.0 39.0
76.0 79.2
14.0 26.0
14.0 13.0
27.0 36.75
48.0 29.7
20.0 7.225
34.0 15.7417
11.0 7.8958
94.0 26.0
14.0 13.0
20.0 7.2292
14.0 31.5
20.0 7.2292
14.0 10.5
11.0 7.5792
11.0 69.55
126.0 512.3292
11.0 14.5
24.0 7.65
14.0 13.0
34.0 7.2292
14.0 13.5
27.0 21.0
78.0 63.3583
14.0 10.5
14.0 73.5
14.0 65.0
24.0 20.575
55.0 26.0
108.0 51.4792
11.0 7.8792
6.0 7.75
24.0 15.55
11.0 69.55
38.0 37.0042
27.0 21.0
11.0 8.6625
78.0 55.4417
24.0 69.55
20.0 14.4583
24.0 39.6875
89.0 59.4
24.0 13.8583
14.0 11.5
78.0 134.5
103.0 0.0
14.0 13.0
52.0 81.8583
89.0 262.375
24.0 8.6625
14.0 11.5
94.0 50.0
11.0 31.3875
6.0 7.75
6.0 7.8792
24.0 14.5
24.0 16.1
14.0 12.875
27.0 65.0
11.0 7.775
14.0 13.0
6.0 7.75
11.0 21.075
103.0 93.5
68.0 39.4
11.0 20.25
14.0 10.5
11.0 22.025
108.0 60.0
6.0 7.25
126.0 79.2
11.0 7.775
6.0 7.7333
108.0 164.8667
14.0 21.0
89.0 59.4
66.0 47.1
64.0 27.7208
13.0 13.8625
14.0 10.5
104.0 211.5
19.0 7.7208
24.0 13.775
19.0 7.75
103.0 90.0
24.0 7.775
11.0 8.05
117.0 108.9
11.0 7.25
11.0 8.05
21.0 22.3583